#header-page {
	background-image: url("https://images.pexels.com/photos/4927238/pexels-photo-4927238.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
	background-size: cover;
	background-repeat: none;
	height: 100vh;
	
}
body {
	font-family: Helvetica;
	margin: 0;
	text-align: center;
}
#container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}