:root {
	--med-brown: #2b1d0e;
	--dark-brown: #181008;
	--cream-color: #fff1d0;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 0.1em;
	font-weight: 100;
	color: var(--cream-color);
	text-align: center;
}
html {
	scroll-behavior: smooth;
}

h1 {
	font-size: 4em;
}
h2 {
	font-size: 2em;
}
h3 {
	padding: 15px 0;
}
h4 {
	font-size: 3em;
}
a {
	text-decoration: none;
}
a:hover {

}
a:visited {
	color: none;
}
ul {
	list-style: none;
}

nav {
	position: fixed;
	width: 100%;
	background-color: var(--dark-brown);
	padding: 2vh 0;
	z-index: 1;
}
button {
	background-color: transparent;
	border: solid 1px white;
	border-radius: 5px;
	padding: 10px 15px;
}

.bkg {
	height: 100vh;
	background-repeat: none;
	background-size: cover;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
#landing-page {
	background-image: url("images/landing-page.jpeg");
	position: relative;
	top: 9vh;
}
#what-we-do {
	background-image: url("images/blog-post.jpeg");
	background-position: center;
}
article {
	margin: 50px 20px;
	padding: 20px;
	border: 2px solid white;
	max-width: 768px;
	justify-content: center;
}
article h4 {
	padding-bottom: 5vh;
}
article h5 {
	padding-top: 5vh;
}
#commitment-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 5vh 0;
	height: 260vh;
}
#commitment-page h4, h5, p {
	color: var(--med-brown);
	font-weight: 200;
}
#commitment-page h4 {
	padding: 30px 0;
	display: block;
	width: 100vw;
}
#commitment-page h5 {
	font-size: 2em;
	padding:10px 0;
	font-weight: 400;
}
.cards {
	width: 320px;
	height: 340px;
	padding: 20px;
	border: solid 2px var(--med-brown);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer {
	background-color: var(--dark-brown);
	width: 100%;
	font-size: 0.75em;
	color: #c5c3bd;
}

li {
	display: inline-block;
	padding: 5vh 5vw;
}
li a:hover {
	border-bottom: solid 1px #c5c3bd;
	transition: border-bottom 1s ease-out;
}
  
@media (min-width: 768px) {
	#commitment-page {
		flex-direction: row;
		flex-wrap: wrap;
		height: 150vh;
	}
}

@media (min-width: 991px) {
	#commitment-page {
		align-items: flex-start;
	}
	
}