

#landing-page {
	background-image: url("https://images.pexels.com/photos/4927238/pexels-photo-4927238.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
	background-size: cover;
	background-repeat: none;
	height: 100vh;
	display: flex;
	flex-direction: column;		
	align-items: center;
	justify-content: center;
}
h1, h2 {
	color: white;
	font-size: 5em;
	font-weight: 100;
	letter-spacing: 15px;
}
h2 {
	font-size: 2em;
	letter-spacing: 10px;
	text-transform: uppercase;
}
body {
	font-family: 'Raleway', sans-serif;	
	margin: 0;
	text-align: center;

}
.enquire {
	font-size: 1em;
	letter-spacing: 2px;
	padding: 10px 10px;
	border-radius: 5px;
	border: 1px solid white;
	margin-top: 50px;
	color: white;
}
.enquire:hover {
	color: #808080;
	border-color: #808080;
}
a:link {
	color: white;
	text-decoration: none;
}

.footer {
	background-color: black;
	bottom: 0;
	padding-bottom: 2vh;
	color: #808080;
}
ul {
	list-style: none;
}

section {
	margin-bottom: 25px;
}
